@import "./reset.scss";

body,
html {
    height: 100%;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba($color: #494444, $alpha: 1);
    background-color: rgba($color: #ecf1f195, $alpha: 1);
}

.container {
    margin: 0 auto;
    padding: 30px 40px;
    max-width: 1400px;
}

.loading {
    text-align: center;
}

.error-loading {
    margin: 0 auto;
    padding: 30px;
    width: 200px;
    text-align: center;
    color: red;
    border: 1px solid red;

    button {
        margin-top: 20px;
        border: none;
        border-bottom: 1px solid gray;
    }
}
